
prototyping/00_tic_tac_toe/00_tic_tac_toe.pro
prototyping/00_tic_tac_toe/00_tic_tac_toe.pro
prototyping/00_tic_tac_toe/00_tic_tac_toe.pro
prototyping/00_tic_tac_toe/00_tic_tac_toe.pro.user.4.10-pre1
prototyping/00_tic_tac_toe/mainwindow.ui
prototyping/01_drawing/drawing/drawing.pro
prototyping/01_drawing/drawing/main.cpp
prototyping/01_drawing/drawing/mainwindow.cpp
prototyping/01_drawing/drawing/mainwindow.h
prototyping/01_drawing/drawing/mainwindow.ui
prototyping/02_OpenGL/build-QT_OpenGL-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/.qmake.stash
prototyping/02_OpenGL/build-QT_OpenGL-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/debug/main.o
prototyping/02_OpenGL/build-QT_OpenGL-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/debug/renderwindow.o
prototyping/02_OpenGL/build-QT_OpenGL-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/Makefile
prototyping/02_OpenGL/build-QT_OpenGL-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/Makefile.Debug
prototyping/02_OpenGL/build-QT_OpenGL-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/Makefile.Release
prototyping/02_OpenGL/QT_OpenGL/engine/game_engine.h
prototyping/02_OpenGL/QT_OpenGL/logger.h
prototyping/02_OpenGL/QT_OpenGL/main.cpp
prototyping/02_OpenGL/QT_OpenGL/QT_OpenGL.pro
prototyping/02_OpenGL/QT_OpenGL/render_window.cpp
prototyping/02_OpenGL/QT_OpenGL/render_window.h
prototyping/02_OpenGL/QT_OpenGL/unit_testing_switch.h
prototyping/03_a__data_entry/build-DataEntry-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/.qmake.stash
prototyping/03_a__data_entry/build-DataEntry-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/debug/main.o
prototyping/03_a__data_entry/build-DataEntry-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/debug/mainwindow.o
prototyping/03_a__data_entry/build-DataEntry-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
prototyping/03_a__data_entry/build-DataEntry-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/debug/moc_mainwindow.o
prototyping/03_a__data_entry/build-DataEntry-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/debug/moc_predefs.h
prototyping/03_a__data_entry/build-DataEntry-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/Makefile
prototyping/03_a__data_entry/build-DataEntry-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/Makefile.Debug
prototyping/03_a__data_entry/build-DataEntry-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/Makefile.Release
prototyping/03_a__data_entry/build-DataEntry-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/ui_mainwindow.h
prototyping/03_a__data_entry/DataEntry/DataEntry.pro
prototyping/03_a__data_entry/DataEntry/main.cpp
prototyping/03_a__data_entry/DataEntry/mainwindow.cpp
prototyping/03_a__data_entry/DataEntry/mainwindow.h
prototyping/03_a__data_entry/DataEntry/mainwindow.ui
prototyping/build-00_tic_tac_toe-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/.qmake.stash
prototyping/build-00_tic_tac_toe-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/debug/main.o
prototyping/build-00_tic_tac_toe-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/debug/mainwindow.o
prototyping/build-00_tic_tac_toe-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
prototyping/build-00_tic_tac_toe-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/debug/moc_mainwindow.o
prototyping/build-00_tic_tac_toe-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/debug/moc_predefs.h
prototyping/build-00_tic_tac_toe-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/Makefile
prototyping/build-00_tic_tac_toe-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/Makefile.Debug
prototyping/build-00_tic_tac_toe-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/Makefile.Release
prototyping/build-00_tic_tac_toe-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/ui_mainwindow.h
prototyping/00_tic_tac_toe/00_tic_tac_toe.pro
prototyping/00_tic_tac_toe/mainwindow.ui
prototyping/01_drawing/drawing/drawing.pro
prototyping/01_drawing/drawing/main.cpp
prototyping/01_drawing/drawing/mainwindow.cpp
prototyping/01_drawing/drawing/mainwindow.h
prototyping/01_drawing/drawing/mainwindow.ui
prototyping/02_OpenGL/QT_OpenGL/engine/game_engine.h
prototyping/02_OpenGL/QT_OpenGL/logger.h
prototyping/02_OpenGL/QT_OpenGL/main.cpp
prototyping/02_OpenGL/QT_OpenGL/QT_OpenGL.pro
prototyping/02_OpenGL/QT_OpenGL/render_window.cpp
prototyping/02_OpenGL/QT_OpenGL/render_window.h
prototyping/02_OpenGL/QT_OpenGL/unit_testing_switch.h
prototyping/03_a__data_entry/DataEntry/DataEntry.pro
prototyping/03_a__data_entry/DataEntry/main.cpp
prototyping/03_a__data_entry/DataEntry/mainwindow.cpp
prototyping/03_a__data_entry/DataEntry/mainwindow.h
prototyping/03_a__data_entry/DataEntry/mainwindow.ui
